:root {
  --color-semi-dark-navy: #1f3641;
  --color-dark-navy: #1a2a33;
  --color-light-blue: #31c3bd;
  --color-lighter-blue: #65e9e4;
  --color-light-yellow: #f2b137;
  --color-lighter-yellow: #ffc860;
  --square-hover-icon: ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--color-dark-navy);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.TicTacToe__board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 460px;
}

.TicTacToe__square {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  background-color: var(--color-semi-dark-navy);
  box-shadow: inset 0 -8px 0 #10212a;
  cursor: pointer;
}

.TicTacToe__square:hover,
.TicTacToe__square--cross,
.TicTacToe__square--circle {
  background-repeat: no-repeat;
  background-position: center;
}
.TicTacToe__square--cross {
  background-image: url("/cross.svg");
}

.TicTacToe__square--circle {
  background-image: url("/circle.svg");
}

.TicTacToe__square--cross.TicTacToe__square--winner {
  background-color: var(--color-lighter-blue);
  background-image: url("/cross-winner-state.svg");
  box-shadow: inset 0 -8px 0 var(--color-light-blue);
}

.TicTacToe__square--circle.TicTacToe__square--winner {
  background-color: var(--color-light-yellow);
  background-image: url("/circle-winner-state.svg");
  box-shadow: inset 0 -8px 0 #cc8b13;
}

.TicTacToe__square--cross-placeholder:hover {
  background-image: url("/cross-hover.svg");
}

.TicTacToe__square--circle-placeholder:hover {
  background-image: url("/circle-hover.svg");
}
